snippet pwm "password manager"
--------------------------------------------------------------------------------
== ${1:description}
login:    ${2:login/email/username}
passw:    ${3:your secret password here}

endsnippet
