snippet log "console.log"
console.log($1);
endsnippet

snippet info "console.info"
console.info($1);
endsnippet

snippet warn "console.warn"
console.warn($1);
endsnippet

snippet error "console.error"
console.error($1);
endsnippet

